{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[lang.get('tasks_details_task_details')]]</h2>
{%TEMPLATE->struct/messages%}
{%TEMPLATE->tasks/autorefresh%}
<br>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>[[lang.getUCF('property')]]</th>
      <th>[[lang.getUCF('value')]]</th>
    </tr>
    <tr>
      <td>[[lang.get('table_property_id')]]</td>
      <td>
        <code>[[task.getId()]]</code>
        <form style ='float: right;' action="tasks.php" method="POST" onSubmit="if (!confirm('[[lang.get('post_confirm_msg_delete_task', [ [[task.getId()]] ])]]')) return false;">
          <input type="hidden" name="action" value="[[$DTaskAction::DELETE_TASK]]">
          <input type="hidden" name="csrf" value="[[csrf]]">
          <input type="hidden" name="task" value="[[task.getId()]]">
          <input type="submit" class='btn btn-danger' value="[[lang.get('button_delete')]]">
        </form>
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_name')]]</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="[[$DTaskAction::RENAME_TASK]]">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="text" class='form-control' name="name" size="25" value="[[task.getTaskName()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="submit" class='btn btn-default' value="[[lang.get('button_change')]]">
          </form>
        {{ELSE}}
          [[task.getTaskName()]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_attack_command')]]</td>
      <td>
        <pre>[[htmlentities([[task.getAttackCmd()]], ENT_QUOTES, "UTF-8")]]</pre>
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_chunk_size')]]</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="[[$DTaskAction::SET_TIME]]">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="text" class='form-control' name="chunktime" size="5" value="[[task.getChunkTime()]]">
            [[lang.get('seconds')]]
            <input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
          </form>
        {{ELSE}}
          [[task.getChunkTime()]] [[lang.get('seconds')]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_color')]]</td>
      <td>
        <form class='form-inline' id="taskcolor" action="tasks.php?id=[[task.getId()]]" method="POST">
          <input type="hidden" name="action" value="[[$DTaskAction::SET_COLOR]]">
          <input type="hidden" name="task" value="[[task.getId()]]">
          <input type="hidden" name="csrf" value="[[csrf]]">
          #<input type="text" class='form-control color {required:false}' size="6" name="color" value="[[task.getColor()]]">
          {{IF [[login.getLevel()]] >= 20}}
            <input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
          {{ENDIF}}
        </form>
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_benchmark_type')]]</td>
      <td>
        {{IF [[task.getUseNewBench()]] == 0}}
          [[lang.get('tasks_new_benchmark_type_runtime')]]
        {{ELSE}}
          [[lang.get('tasks_new_benchmark_type_speed')]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_status_timer')]]</td>
      <td>[[task.getStatusTimer()]] [[lang.get('seconds')]]</td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_priority')]]</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="[[$DTaskAction::SET_PRIORITY]]">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="text" class='form-control' name="priority" size="4" value="[[task.getPriority()]]">
            <input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
          </form>
        {{ELSE}}
          [[task.getPriority()]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_task_cpu_only')]]</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="[[$DTaskAction::SET_CPU_TASK]]">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <select name="isCpu" class="form-control">
              <option value="0"{{IF [[task.getIsCpuTask()]] == 0}} selected{{ENDIF}}>[[lang.getUCF('no')]]</option>
              <option value="1"{{IF [[task.getIsCpuTask()]] == 1}} selected{{ENDIF}}>[[lang.getUCF('yes')]]</option>
            </select>
            <input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
          </form>
        {{ELSE}}
          {{IF [[task.getIsCpuTask()]] == 1}}
            [[lang.getUCF('yes')]]
          {{ELSE}}
            [[lang.getUCF('no')]]
          {{ENDIF}}
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_task_small')]]</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="[[$DTaskAction::SET_SMALL_TASK]]">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <select name="isSmall" class="form-control">
              <option value="0"{{IF [[task.getIsSmall()]] == 0}} selected{{ENDIF}}>[[lang.getUCF('no')]]</option>
              <option value="1"{{IF [[task.getIsSmall()]] == 1}} selected{{ENDIF}}>[[lang.getUCF('yes')]]</option>
            </select>
            <input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
          </form>
        {{ELSE}}
          {{IF [[task.getIsSmall()]] == 1}}
            [[lang.getUCF('yes')]]
          {{ELSE}}
            [[lang.getUCF('no')]]
          {{ENDIF}}
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>[[lang.get('table_property_skip_keyspace')]]</td>
      <td>
        [[task.getSkipKeyspace()]]
      </td>
    </tr>
    {{IF [[task.getHashlistId()]] != null}}
      <tr>
        <td>[[lang.get('table_property_keyspace_size')]]</td>
        <td>
          {{IF [[task.getKeyspace()]] > 0}}
            [[task.getKeyspace()]]
          {{ELSE}}
            N/A
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>[[lang.get('table_property_keyspace_dispatched')]]</td>
        <td>
          [[task.getProgress()]] ([[Util::showperc([[task.getProgress()]], [[task.getKeyspace()]])]]%)
          {{IF [[isActive]] == 0 && [[login.getLevel()]] >= 20}}
            <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST" onSubmit="if (!confirm('[[lang.get('post_confirm_msg_purge_task', [ [[task.getId()]] ])]]')) return false;">
              <input type="hidden" name="action" value="[[$DTaskAction::PURGE_TASK]]">
              <input type="hidden" name="task" value="[[task.getId()]]">
              <input type="hidden" name="csrf" value="[[csrf]]">
              <input type="submit" class='btn btn-danger' value="[[lang.get('button_purge')]]">
            </form>
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>[[lang.get('table_property_keyspace_searched')]]</td>
        <td>
          {{IF [[task.getKeyspace()]] > 0}}
            [[cProgress]] ([[Util::showperc([[cProgress]], [[task.getKeyspace()]])]]%)
          {{ELSE}}
            N/A
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>[[lang.get('table_property_time_spent')]]</td>
        <td>
          [[Util::sectotime([[timeSpent]])]]
        </td>
      </tr>
      <tr>
        <td>[[lang.get('table_property_estimated_time')]]</td>
        <td>
          {{IF [[timeLeft]] > 0}}
            [[Util::sectotime([[timeLeft]])]]
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>[[lang.get('table_property_speed')]]</td>
        <td>[[Util::nicenum([[currentSpeed]], 100000, 1000)]]H/s</td>
      </tr>
      <tr>
        <td>
          {{IF [[hashlist.getFormat()]] == 3}}
            [[lang.get('table_property_superhashlist')]]
          {{ELSE}}
            [[lang.get('table_property_hashlist')]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[hashlist.getFormat()]] == 3}}
            <a href="superhashlists.php?id=[[hashlist.getId()]]">[[hashlist.getHashlistName()]]</a>
            ([[hashtype.getDescription()]])
          {{ELSE}}
            <a href="hashlists.php?id=[[hashlist.getId()]]">[[hashlist.getHashlistName()]]</a>
            ([[hashtype.getDescription()]])
          {{ENDIF}}
        </td>
      </tr>
    </table>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <td>[[lang.get('tasks_details_visual_representation')]]</td>
      </tr>
      <tr>
        <td>
          <img class='img-responsive' style="height: 32px" src="api/taskimg.php?task=[[task.getId()]]&x=1500&y=32">
        </td>
      </tr>
    {{ENDIF}}
  </table>
</div>
{{IF [[sizeof([[attachedFiles]])]] > 0}}
  {{IF [[login.getLevel()]] >= 5}}
    <h3>[[lang.get('tasks_details_attached_files')]]</h3>
    <div class="panel panel-default">
      <table class="table table-bordered table-nonfluid">
        <tr>
          <th>[[lang.get('table_property_id')]]</th>
          <th>[[lang.get('table_property_filename')]]</th>
          <th>[[lang.get('table_property_size')]]</th>
        </tr>
        {{FOREACH file;[[attachedFiles]]}}
          <tr>
            <td>[[file.getId()]]</td>
            <td>
              {{IF [[login.getLevel()]] >= 20}}
                <a href="files.php#[[file.getId()]]">[[file.getFilename()]]</a>
              {{ELSE}}
                [[file.getFilename()]]
              {{ENDIF}}
              {{IF [[file.getSecret()]] == 1}}
                <img src="static/lock.gif" alt="Secret">
              {{ENDIF}}
            </td>
            <td class='num'>
              [[Util::nicenum([[file.getSize()]])]]B
            </td>
          </tr>
        {{ENDFOREACH}}
      </table>
    </div>
  {{ENDIF}}
{{ENDIF}}
<h3>[[lang.get('tasks_details_assigned_agents')]]</h3>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>[[lang.get('table_property_id')]]</th>
      <th>[[lang.get('table_property_name')]]</th>
      <th>[[lang.get('table_property_benchmark_type')]]</th>
      <th>[[lang.get('table_property_speed')]]</th>
      <th>[[lang.get('table_property_keyspace_searched')]]</th>
      <th>[[lang.get('table_property_time_spent')]]</th>
      <th>[[lang.get('table_property_cracked')]]</th>
      <th>[[lang.get('table_property_last_activity')]]</th>
      <th>[[lang.get('table_property_action')]]</th>
    </tr>
    {{FOREACH agent;[[agents]]}}
      <tr>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <a href="agents.php?id=[[agent.getId()]]">[[agent.getId()]]</a>
          {{ELSE}}
            [[agent.getId()]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <a href="agents.php?id=[[agent.getId()]]">[[agent.getAgentName()]]</a>
          {{ELSE}}
            [[agent.getAgentName()]]
          {{ENDIF}}
          {{IF [[agent.getIsTrusted()]] == 1}}
            <img src="static/lock.gif" alt="Trusted">
          {{ENDIF}}
          {{IF [[activeAgents.getVal([[agent.getId()]])]] == 1}}
            <img src="static/active.gif" alt="Active">
          {{ENDIF}}
          {{IF [[agent.getIsActive()]] == 0}}
            <img src="static/pause.gif" alt="Paused">
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
              <input type="hidden" name="action" value="[[$DTaskAction::SET_BENCHMARK]]">
              <input type="hidden" name="agent" value="[[agent.getId()]]">
              <input type="hidden" name="csrf" value="[[csrf]]">
              <input type="text" class='form-control' name="bench" value="[[agentsBench.getVal([[agent.getId()]])]]" size="8">
              <input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
            </form>
          {{ELSE}}
            [[agentsBench.getVal([[agent.getId()]])]]
          {{ENDIF}}
        </td>
        <td class="num">
          {{IF [[activeAgents.getVal([[agent.getId()]])]] == 1}}
            [[Util::nicenum([[agentsSpeed.getVal([[agent.getId()]])]], 100000, 1000)]]H/s
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
        <td class="num">
          {{IF [[task.getKeyspace()]] > 0}}
            [[agentsProgress.getVal([[agent.getId()]])]]
            ([[Util::showperc([[agentsProgress.getVal([[agent.getId()]])]], [[task.getKeyspace()]])]]%)
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
        <td class="num">[[Util::sectotime([[agentsSpent.getVal([[agent.getId()]])]])]]</td>
        <td class="num">
          {{IF [[agentsCracked.getVal([[agent.getId()]])]] > 0}}
            [[agentsCracked.getVal([[agent.getId()]])]]
          {{ELSE}}
            0
          {{ENDIF}}
        </td>
        <td>
          {{IF [[agent.getLastAct()]] > 0}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[agent.getLastAct()]])]]
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <form style='float: left; padding-right: 5px;' action="agents.php?task=[[task.getId()]]" method="POST">
              <input type="hidden" name="action" value="[[$DAgentAction::ASSIGN_AGENT]]">
              <input type="hidden" name="agent" value="[[agent.getId()]]">
              <input type="hidden" name="csrf" value="[[csrf]]">
              <input type="hidden" name="task" value="">
              <input type="submit" class='btn btn-default' value="[[lang.get('button_unassign')]]">
            </form>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDFOREACH}}

    {{IF [[login.getLevel()]] >= 20}}
      <tr>
        <td colspan="4">
          <form action="agents.php?task=[[task.getId()]]" method="POST">
            <div class="col-md-8">
              <input type="hidden" name="action" value="[[$DAgentAction::ASSIGN_AGENT]]">
              <input type="hidden" name="task" value="[[task.getId()]]">
              <input type="hidden" name="csrf" value="[[csrf]]">
              <select class='form-control' name="agent">
                {{FOREACH agent;[[assignAgents]]}}
                  <option value='[[agent.getId()]]'>[[agent.getId()]]
                  {{IF [[agent.getAgentName()]] != ""}}
                    ([[agent.getAgentName()]])
                  {{ENDIF}}
                  </option>
                {{ENDFOREACH}}
              </select>
            </div>
            <div class="col-md-4">
              <input type="submit" class='btn btn-default' value="[[lang.get('button_assign')]]">
            </div>
          </form>
        </td>
        <td colspan="6">
          {{IF [[showAllAgents]]}}
            <a href="tasks.php?id=[[task.getId()]]" class='btn btn-warning'>[[lang.get('button_hide_all_assignments')]]</a>
          {{ELSE}}
            <a href="tasks.php?id=[[task.getId()]]&allagents=true" class='btn btn-success'>[[lang.get('button_show_all_assignments')]]</a>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDIF}}
  </table>
</div>
{{IF [[showAllAgents]]}}
  <h3>[[lang.get('tasks_details_all_assigned_agents')]]</h3>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <th>[[lang.get('table_property_id')]]</th>
        <th>[[lang.get('table_property_name')]]</th>
        <th>[[lang.get('table_property_keyspace_searched')]]</th>
        <th>[[lang.get('table_property_time_spent')]]</th>
        <th>[[lang.get('table_property_cracked')]]</th>
        <th>[[lang.get('table_property_last_activity')]]</th>
      </tr>
      {{FOREACH agent;[[agentObjects]]}}
        <tr>
          <td>
            {{IF [[login.getLevel()]] >= 20}}
              <a href="agents.php?id=[[agent.getId()]]">[[agent.getId()]]</a>
            {{ELSE}}
              [[agent.getId()]]
            {{ENDIF}}
          </td>
          <td>
            {{IF [[login.getLevel()]] >= 20}}
              <a href="agents.php?id=[[agent.getId()]]">[[agent.getAgentName()]]</a>
            {{ELSE}}
              [[agent.getAgentName()]]
            {{ENDIF}}
            {{IF [[agent.getIsTrusted()]] == 1}}
              <img src="static/lock.gif" alt="Trusted">
            {{ENDIF}}
            {{IF [[activeAgents.getVal([[agent.getId()]])]] == 1}}
              <img src="static/active.gif" alt="Active">
            {{ENDIF}}
          </td>
          <td class="num">
            {{IF [[task.getKeyspace()]] > 0}}
              [[agentsProgress.getVal([[agent.getId()]])]]
              ([[Util::showperc([[agentsProgress.getVal([[agent.getId()]])]], [[task.getKeyspace()]])]]%)
            {{ENDIF}}
          </td>
          <td class="num">[[Util::sectotime([[agentsSpent.getVal([[agent.getId()]])]])]]</td>
          <td class="num">[[agentsCracked.getVal([[agent.getId()]])]]</td>
          <td>
            {{IF [[agent.getLastTime()]] > 0}}
              [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[agent.getLastTime()]])]]
            {{ENDIF}}
          </td>
        </tr>
      {{ENDFOREACH}}
    </table>
  </div>
{{ENDIF}}
<h3>[[lang.get('tasks_details_dispatched_chunks')]] {{IF [[chunkFilter]] != 1}}([[lang.get('tasks_details_dispatched_chunks_showing_active_only')]] -
<a href="tasks.php?id=[[task.getId()]]&all=1">[[lang.get('tasks_details_dispatched_chunks_show_latest_100')]]</a>){{ENDIF}}{{IF [[chunkFilter]] == 1}}([[lang.get('tasks_details_dispatched_chunks_show_latest_100')]]){{ENDIF}}</h3>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>[[lang.get('table_property_id')]]</th>
      <th>[[lang.get('table_property_start')]]</th>
      <th>[[lang.get('table_property_length')]]</th>
      <th>[[lang.get('table_property_checkpoint')]]</th>
      <th>[[lang.get('table_property_progress')]]</th>
      <th>[[lang.get('table_property_agent')]]</th>
      <th>[[lang.get('table_property_dispatch_time')]]</th>
      <th>[[lang.get('table_property_last_activity')]]</th>
      <th>[[lang.get('table_property_time_spent')]]</th>
      <th>[[lang.get('table_property_state')]]</th>
      <th>[[lang.get('table_property_cracked')]]</th>
      <th>[[lang.get('table_property_action')]]</th>
    </tr>
    {{FOREACH chunk;[[chunks]]}}
      <tr>
        <td>
          [[chunk.getId()]]
          {{IF [[activeChunks.getVal([[chunk.getId()]])]]}}
            <img src="static/active.gif" alt="Active">
          {{ENDIF}}
        </td>
        <td class="num">[[chunk.getSkip()]]</td>
        <td class="num">[[chunk.getLength()]]</td>
        <td class="num">
          [[chunk.getProgress()]]
          {{IF [[chunk.getProgress()]] > 0 && [[chunk.getProgress()]] != [[chunk.getLength()]]}}
            ([[Util::showperc([[chunk.getProgress()]], [[chunk.getLength()]])]]%)
          {{ENDIF}}
        </td>
        <td class="num">
          [[Util::showperc([[chunk.getRprogress()]], 10000)]]%
        </td>
        <td>
          {{IF ![[chunk.getAgentId()]]}}
            N/A
          {{ELSE}}
            <a href="agents.php?id=[[chunk.getAgentId()]]">[[fullAgents.getVal([[chunk.getAgentId()]]).getAgentName()]]</a>
          {{ENDIF}}
        </td>
        <td>
          {{IF [[chunk.getDispatchTime()]] == 0}}
            ([[lang.get('description_no_activity')]])
          {{ELSE}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getDispatchTime()]])]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[chunk.getSolveTime()]] == 0}}
            ([[lang.get('description_no_activity')]])
          </td>
          <td>
          {{ELSE}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getSolveTime()]])]]
          </td>
          <td class='num'>
            [[Util::sectotime([[chunk.getSolveTime()]] - [[chunk.getDispatchTime()]])]]
          {{ENDIF}}
        </td>
        <td>
          [[Util::getStaticArray([[chunk.getState()]], 'states')]]
        </td>
        <td class="num">
          {{IF [[chunk.getCracked()]] > 0 && [[login.getLevel()]] >= 5}}
            <a href="hashes.php?chunk=[[chunk.getId()]]">[[chunk.getCracked()]]</a>
          {{ELSE}}
            [[chunk.getCracked()]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[activeChunks.getVal([[chunk.getId()]])]] == false && [[login.getLevel()]] >= 20}}
            <form action="tasks.php?id=[[task.getId()]]" method="POST" onSubmit="if (!confirm('[[lang.get('post_confirm_msg_reset_chunk', [ [[chunk.getId()]] ])]]')) return false;">
              <input type="hidden" name="action" value="[[$DTaskAction::RESET_CHUNK]]">
              <input type="hidden" name="chunk" value="[[chunk.getId()]]">
              <input type="hidden" name="csrf" value="[[csrf]]">
              <input type="submit" class='btn btn-default' value="[[lang.get('button_reset')]]">
            </form>
          {{ENDIF}}
          {{IF [[activeChunks.getVal([[chunk.getId()]])]] && [[login.getLevel()]] >= 20}}
            <form action="tasks.php?id=[[task.getId()]]" method="POST" onSubmit="if (!confirm('[[lang.get('post_confirm_msg_abort_chunk', [ [[chunk.getId()]] ])]]')) return false;">
              <input type="hidden" name="action" value="[[$DTaskAction::ABORT_CHUNK]]">
              <input type="hidden" name="chunk" value="[[chunk.getId()]]">
              <input type="hidden" name="csrf" value="[[csrf]]">
              <input type="submit" class='btn btn-danger' value="[[lang.get('button_abort')]]">
            </form>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDFOREACH}}
  </table>
</div>
{%TEMPLATE->struct/foot%}