{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[lang.get('config_server_configuration')]]</h2>
{%TEMPLATE->struct/messages%}
<form action="config.php" method="POST">
	<input type='hidden' name='action' value='[[$DConfigAction::UPDATE_CONFIG]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>[[lang.getUCF('property')]]</th>
				<th>[[lang.getUCF('value')]]</th>
			</tr>
			{{FOREACH conf;[[configuration]]}}
				<tr>
					<td>[[DConfig::getConfigDescription([[conf.getVal('item')]])]]</td>
					<td>
						{{IF [[DConfig::getConfigType([[conf.getVal('item')]])]] == "string"}}
							<input type="text" class='form-control' name="config_[[conf.getVal('item')]]" value="[[Util::escapeSpecial([[conf.getVal('value')]])]]">
						{{ENDIF}}
						{{IF [[DConfig::getConfigType([[conf.getVal('item')]])]] == "number"}}
							<input type="number" class='form-control' name="config_[[conf.getVal('item')]]" value="[[Util::escapeSpecial([[conf.getVal('value')]])]]">
						{{ENDIF}}
					</td>
				</tr>
			{{ENDFOREACH}}
			<tr>
				<td colspan="2">
					<input type="submit" class='btn btn-default' value="[[lang.get('button_set')]]">
				</td>
			</tr>
		</table>
	</div>
</form>

<h3>[[lang.get('config_server_database_tools')]]</h3>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<td>
				<form action='config.php' method='post'>
					<input type='hidden' name='action' value='[[$DConfigAction::REBUILD_CACHE]]'>
					<input type="hidden" name="csrf" value="[[csrf]]">
					<input type='submit' class='btn btn-default' value="[[lang.get('button_rebuild_chunk_cache')]]">
				</form>
			</td>
			<td>[[lang.get('config_server_database_tools_rebuild_chunk_cache')]]</td>
		</tr>
		<tr>
			<td>
				<form action='config.php' method='post'>
					<input type='hidden' name='action' value='[[$DConfigAction::RESCAN_FILES]]'>
					<input type="hidden" name="csrf" value="[[csrf]]">
					<input type='submit' class='btn btn-default' value="[[lang.get('button_rescan_global_files')]]">
				</form>
			</td>
			<td>[[lang.get('config_server_database_tools_rescan_global_files')]]</td>
		</tr>
		<tr>
			<td>
				<form action='config.php' method='post' onSubmit='if(prompt("Do you really want to delete everything? Enter OK to confirm.") !== "OK")return false'>
					<input type='hidden' name='action' value='[[$DConfigAction::CLEAR_ALL]]'>
					<input type="hidden" name="csrf" value="[[csrf]]">
					<input type='submit' class='btn btn-danger' value="[[lang.get('button_clear_all')]]">
				</form>
			</td>
			<td>[[lang.get('config_server_database_tools_clear_all')]]</td>
		</tr>
	</table>
</div>
{%TEMPLATE->struct/foot%}
