{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[lang.get('config_hash_types_hash_types')]]</h2>
{%TEMPLATE->struct/messages%}
<form action="hashtypes.php" method="POST">
	<input type='hidden' name='action' value='[[$DHashtypeAction::ADD_HASHTYPE]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th colspan='2' style='text-align: center;'>
					<b>[[lang.get('config_hash_types_add_new_hash_type')]]</b>
				</th>
			</tr>
			<tr>
				<th>[[lang.get('table_property_hashtype')]]</th>
				<th>[[lang.get('table_property_description')]]</th>
				<th>[[lang.get('table_property_salted_long')]]</th>
			</tr>
			<tr>
				<td>
					<input type='text' name='id' class='form-control'>
				</td>
				<td>
					<input type='text' name='description' class='form-control'>
				</td>
				<td>
					<select name="isSalted" class="form-control">
            <option value="0">[[lang.getUCF('no')]]</option>
            <option value="1">[[lang.getUCF('yes')]]</option>
          </select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" class='btn btn-success' value="[[lang.get('button_add')]]">
				</td>
			</tr>
		</table>
	</div>
</form>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>[[lang.get('table_property_hashtype')]]</th>
			<th>[[lang.get('table_property_description')]]</th>
      <th>[[lang.get('table_property_salted')]]</th>
			<th>&nbsp;</th>
		</tr>
		{{FOREACH type;[[hashtypes]]}}
			<tr>
				<td>[[type.getId()]]</td>
				<td>[[type.getDescription()]]</td>
        <td>
          {{IF [[type.getIsSalted()]] == 1}}
          [[lang.getUCF('yes')]]
          {{ELSE}}
          [[lang.getUCF('no')]]
          {{ENDIF}}
        </td>
				<td>
					<form action="hashtypes.php" method="POST" onSubmit="if (!confirm('[[lang.get('post_confirm_msg_delete_hashtype', [ [[type.getId()]] ] )]]')) return false;">
						<input type="hidden" name="action" value="[[$DHashtypeAction::DELETE_HASHTYPE]]">
						<input type="hidden" name="type" value="[[type.getId()]]">
						<input type="hidden" name="csrf" value="[[csrf]]">
						<input type="submit" class='btn btn-danger' value="[[lang.get('button_delete')]]">
					</form>
				</td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->struct/foot%}
