<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-left"><img src="static/logo.png" alt="logo" style="width: 40px; margin: 5px 5px 5px -5px;"></a><a class="navbar-brand" href="index.php">Hashtopussy</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 30}}
					<li class="dropdown[[menu.isActive('agents', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_agents')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('agents_list')]]><a href="agents.php">[[lang.get('menu_agents_show_agents')]]</a></li>
							<li[[menu.isActive('agents_new')]]><a href="agents.php?new=true">[[lang.get('menu_agents_new_agent')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 20 && [[login.getLevel()]] < 30}}
					<li[[menu.isActive('agents_list')]]><a href="agents.php">[[lang.get('menu_agents')]]</a></li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 20}}
					<li class="dropdown[[menu.isActive('tasks', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_tasks')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('tasks_list')]]><a href="tasks.php">[[lang.get('menu_tasks_show_tasks')]]</a></li>
							<li[[menu.isActive('tasks_new')]]><a href="tasks.php?new=true">[[lang.get('menu_tasks_new_task')]]</a></li>
							<li[[menu.isActive('tasks_pre')]]><a href="pretasks.php">[[lang.get('menu_tasks_pre_tasks')]]</a></li>
							<li[[menu.isActive('tasks_super')]]><a href='supertasks.php'>[[lang.get('menu_tasks_supertasks')]]</a></li>
							<li[[menu.isActive('tasks_supernew')]]><a href='supertasks.php?create=new'>[[lang.get('menu_tasks_new_supertask')]]</a></li>
							<li[[menu.isActive('tasks_superimport')]]><a href='supertasks.php?create=import'>[[lang.get('menu_tasks_import_masks')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] > 0 && [[login.getLevel()]] < 5}}
					<li[[menu.isActive('tasks_list')]]><a href="tasks.php">[[lang.get('menu_tasks_show_tasks')]]</a></li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 5 && [[login.getLevel()]] < 20}}
					<li class="dropdown[[menu.isActive('tasks', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_tasks')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('tasks_list')]]><a href="tasks.php">[[lang.get('menu_tasks_show_tasks')]]</a></li>
							<li[[menu.isActive('tasks_pre')]]><a href="pretasks.php">[[lang.get('menu_tasks_pre_tasks')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 20}}
					<li class="dropdown[[menu.isActive('lists', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_lists')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('lists_norm')]]><a href="hashlists.php">[[lang.get('menu_lists_hashlists')]]</a></li>
							<li[[menu.isActive('lists_new')]]><a href="hashlists.php?new=true">[[lang.get('menu_lists_new_hashlist')]]</a></li>
							<li[[menu.isActive('lists_super')]]><a href="superhashlists.php">[[lang.get('menu_lists_super_hashlists')]]</a></li>
							<li[[menu.isActive('lists_snew')]]><a href="superhashlists.php?new=true">[[lang.get('menu_lists_new_super_hashlist')]]</a></li>
							<li[[menu.isActive('lists_search')]]><a href="search.php">[[lang.get('menu_lists_search_hash')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 5 && [[login.getLevel()]] < 20}}
					<li class="dropdown[[menu.isActive('lists', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_lists')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('lists_norm')]]><a href="hashlists.php">[[lang.get('menu_lists_hashlists')]]</a></li>
							<li[[menu.isActive('lists_super')]]><a href="superhashlists.php">[[lang.get('menu_lists_super_hashlists')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 20}}
					<li[[menu.isActive('files')]]><a href="files.php">[[lang.get('menu_files')]]</a></li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 5}}
					<li[[menu.isActive('chunks')]]><a href="chunks.php">[[lang.get('menu_chunk_activity')]]</a></li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 30}}
					<li class="dropdown[[menu.isActive('hashcat', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_hashcat')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('hashcat_list')]]><a href="hashcat.php">[[lang.get('menu_hashcat_hashcat_releases')]]</a></li>
							<li[[menu.isActive('hashcat_new')]]><a href="hashcat.php?new=true">[[lang.get('menu_hashcat_new_hashcat_release')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 10 && [[login.getLevel()]] < 30}}
					<li[[menu.isActive('hashcat_list')]]><a href="hashcat.php">[[lang.get('menu_hashcat_hashcat_releases')]]</a></li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]]}}
					<li class="dropdown[[menu.isActive('account', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_my_account')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('account_settings')]]><a href="account.php">[[lang.get('menu_my_account_settings')]]</a></li>
              {{IF [[login.getLevel()]] >= 20}}
							  <li[[menu.isActive('account_notifications')]]><a href="notifications.php">[[lang.get('menu_my_account_notifications')]]</a></li>
              {{ENDIF}}
						</ul>
					</li>
				{{ENDIF}}
				{{IF [[login.isLoggedin()]] && [[login.getLevel()]] >= 40}}
					<li class="dropdown[[menu.isActive('config', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_config')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('config_server')]]><a href="config.php">[[lang.get('menu_config_server')]]</a></li>
							<li[[menu.isActive('config_hashtypes')]]><a href="hashtypes.php">[[lang.get('menu_config_hash_types')]]</a></li>
							<li[[menu.isActive('config_binaries')]]><a href="binaries.php">[[lang.get('menu_config_agent_binaries')]]</a></li>
							<li[[menu.isActive('config_log')]]><a href="log.php">[[lang.get('menu_config_log')]]</a></li>
						</ul>
					</li>
					<li class="dropdown[[menu.isActive('users', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[lang.get('menu_users')]]<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('users_list')]]><a href="users.php">[[lang.get('menu_users_all_users')]]</a></li>
							<li[[menu.isActive('users_new')]]><a href="users.php?new=true">[[lang.get('menu_users_new_user')]]</a></li>
						</ul>
					</li>
				{{ENDIF}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{IF [[login.isLoggedin()]]}}
					<li><a href="logout.php">[[lang.getUCF('logout')]]</a></li>
				{{ENDIF}}
			</ul>
		</div>
	</div>
</nav>
