{%TEMPLATE->install/head%}
<p>
	<b>[[lang.get('install_db_connection_title')]]</b><br>
	[[lang.get('install_db_connection_description')]]
</p>
{{IF [[failed]]}}
	<p>
		<b>[[lang.get('install_db_connection_test_connection_failed')]]</b>
	</p>
{{ENDIF}}
<form action='index.php' method='post'>
	<table border='1'>
		<tr>
			<td>[[lang.get('install_db_connection_server_hostname')]]</td>
			<td><input type='text' name='server'></td>
		</tr>
		<tr>
			<td>[[lang.get('install_db_connection_server_port')]]</td>
			<td><input type='text' name='port' value="3306"></td>
		</tr>
		<tr>
			<td>[[lang.get('install_db_connection_user')]]</td>
			<td><input type='text' name='user'></td>
		</tr>
		<tr>
			<td>[[lang.get('install_db_connection_password')]]</td>
			<td><input type='password' name='pass'></td>
		</tr>
		<tr>
			<td>[[lang.get('install_db_connection_db_name')]]</td>
			<td><input type='text' name='db'></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type='submit' name='check' value="[[lang.get('button_continue')]]"></td>
		</tr>
	</table>
</form>
{%TEMPLATE->install/foot%}