{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[lang.get('lists_new_new_hashlist')]]</h2>
{%TEMPLATE->struct/messages%}
<script type='text/javascript'>
	function formatChange(valu) { 
		var txtObjects = document.getElementsByClassName('textopt');
    txtObjects.forEach(function(txtObject){
      if (valu == '0') {
        txtObject.style.display = '';
      }
      else {
        txtObject.style.display = 'none';
      }
    });
	}

  var hashtypes = [[allHashtypes]];

	function hashtypeChange(){
    var id = $( "#hashtype" ).val();
    if(hashtypes[id] == 1){
        $("#salted").prop("checked", true);
    }
    else{
        $("#salted").prop("checked", false);
    }
  }
</script>
<form class='form-inline' action="hashlists.php" method="POST" enctype="multipart/form-data">
	<input type='hidden' name='action' value='[[$DHashlistAction::CREATE_HASHLIST]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>[[lang.getUCF('property')]]</th>
				<th>[[lang.getUCF('value')]]</th>
			</tr>
			<tr>
				<td>[[lang.get('table_property_name')]]</td>
				<td>
					<input type="text" class='form-control' name="name" size="35">
				</td>
			</tr>
			<tr>
				<td>[[lang.get('table_property_hash_type')]]</td>
				<td>
					<select name="hashtype" class='form-control' id="hashtype" onchange="hashtypeChange()">
						<option value=''>&nbsp;</option>
						{{FOREACH type;[[hashtypes]]}}
							<option value="[[type.getId()]]"> [[type.getId()]] - [[htmlentities([[type.getDescription()]], ENT_QUOTES, "UTF-8")]]</option>
						{{ENDFOREACH}}
					</select>
				</td>
			</tr>
			<tr>
				<td>[[lang.get('table_property_hashlist_format')]]</td>
				<td>
					<select class='form-control' name="format" onChange="formatChange(this.value);">
						<option value="0">[[lang.get('lists_new_hashlist_format_text_file')]]</option>
						<option value="1">[[lang.get('lists_new_hashlist_format_hccapx_file')]]</option>
						<option value="2">[[lang.get('lists_new_hashlist_format_binary_file')]]</option>
					</select>
					<span class="textopt">
						<br>
						<input type="checkbox" name="salted" id="salted" value="1"> [[lang.get('lists_new_salted_hashes')]]
						<input type="text" class='form-control' name="separator" value="[[config.getVal('fieldseparator')]]" size="1">
					</span>
					<span class="textopt">
						<br>
						<input type="checkbox" name="hexsalted" value="1"> [[lang.get('lists_new_salt_is_hex')]]
					</span>
				</td>
			</tr>
			<tr>
				<td>
					[[lang.get('table_property_hash_source')]]<br>
					<i>[[lang.get('lists_new_hash_source_description')]]</i>
				</td>
				<td>
					<input type="radio" name="source" onChange="sourceChange(this.value);" value="paste"> [[lang.get('lists_new_hash_source_paste')]]<br>
          <input type="radio" name="source" onChange="sourceChange(this.value);" value="upload" checked> [[lang.get('lists_new_hash_source_upload')]]<br>
          <input type="radio" name="source" onChange="sourceChange(this.value);" value="import"> [[lang.get('lists_new_hash_source_import')]]<br>
          <input type="radio" name="source" onChange="sourceChange(this.value);" value="url"> [[lang.get('lists_new_hash_source_url_download')]]
				</td>
			</tr>
			<tr id="pasteLine" style="display: none;">
				<td>[[lang.get('lists_new_hash_source_input_field')]]</td>
				<td>
					<textarea class='form-control' name="hashfield" cols="60" rows="10"></textarea>
				</td>
			</tr>
			<tr id="uploadLine">
				<td>[[lang.get('lists_new_hash_source_file_to_upload')]]</td>
				<td>
					<input type="file" class='filestyle' name="hashfile" data-icon="false" data-buttonText="[[lang.get('button_choose_file')]]" data-placeholder="[[lang.get('button_choose_file_placeholder')]]">
				</td>
			</tr>
			<tr id="importLine" style="display: none;">
				<td>[[lang.get('lists_new_hash_source_file_to_import')]]</td>
				<td>
					<select class='form-control' name="importfile">
						{{FOREACH impfile;[[impfiles]]}}
							<option value="[[impfile.getVal('file')]]">[[impfile.getVal('file')]]</option>
						{{ENDFOREACH}}
					</select>
				</td>
			</tr>
			<tr id="downloadLine" style="display: none;">
				<td>[[lang.get('lists_new_hash_source_file_url')]]</td>
				<td>
					<input type="text" class='form-control' name="url" size="35">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" class='btn btn-default' value="[[lang.get('button_create_hashlist')]]">
				</td>
			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->struct/foot%}
